// Flex classes

.flex-col {
    display: flex;
}

.flex-row-sb {
    justify-content: space-between;
}

.flex-row-sa {
    justify-content: space-around;
}

.flex-row-center {
    justify-content: center;
}

.flex-row-end {
    justify-content: flex-end;
}
.flex-align-center {
    align-items: center;
}

.flex-align-start {
    align-items: start;
}

.flex-align-end {
    align-items: end;
}

.flex-direction-col {
    flex-direction: column;
}

.flex-grid {
    display: grid;
}

.flex-grid-col2 {
    grid-template-columns: 1fr 1fr;
}


.flex-grid-col3 {
    grid-template-columns: 1fr 1fr 1fr;

}
.flex-grid-col4{ 
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.flex-grid-row5{
    grid-template-rows: repeat(5, 86px);
}

// Gap's

.gap4 {
    gap: 4px;
}
.gap8 {
    gap: 8px;
}
.gap12 {
    gap: 12px;
}
.gap16 {
    gap: 16px;
}
.gap20 {
    gap: 20px;
}
.gap24 {
    gap: 24px;
}
.gap30 {
    gap: 30px;
}
.gap32 {
    gap: 32px;
}
.gap40 {
    gap: 40px;
}
.gap48 {
    gap: 48px;
}
.gap60 {
    gap: 60px;
}
.gap135 {
    gap: 135px;
}
.gap150 {
    gap: 150px;
}


// Position 

.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
}

// Colors 

.danger {
    color: #FF4242;
} 

.warning {
    color: #F89828;
}
.success {
    color: #03CEA4;
}
.info {
    color: #5A87FC;
} 

.prime {
    color: #17696A;
}
// Weight 

.bold {
    font-weight: 700;
}