.flex-col {
    display: flex;
}

.flex-row-sb {
    justify-content: space-between;
}

.flex-row-sa {
    justify-content: space-around;
}

.flex-align-center {
    align-items: center;
}

.gap {
    gap: 4px;
}
.gap8 {
    gap: 8px;
}
.gap12 {
    gap: 12px;
}
.gap16 {
    gap: 16px;
}
.gap20 {
    gap: 20px;
}
.gap24 {
    gap: 24px;
}
.gap30 {
    gap: 30px;
}
.gap32 {
    gap: 32px;
}
.gap40 {
    gap: 40px;
}
.gap48 {
    gap: 48px;
}
.gap60 {
    gap: 60px;
}
.gap150 {
    gap: 150px;
}

